<div class="table-container mat-elevation-z8">
  <mat-table #table [dataSource]="breweries">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="established">
      <mat-header-cell *matHeaderCellDef> Established </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.established}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="statusDisplay">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.statusDisplay}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

